[% DEFAULT
  title = "Missing Title"
  layout="simple" %]

<!DOCTYPE html>
<html lang="en">
  <head>
    [% PROCESS title %]
    [% PROCESS stylesheets %]
    [% PROCESS javascript %]
  </head>
  <body class="container">
    [% PROCESS menu %]
    [% PROCESS $layout  %]
    [% PROCESS footer %]
  </body>
</html>
