[% DEFAULT
  title = template.title or "Missing Title"
  layout = template.layout or "simple" %]

[% USE Dumper %]
[% USE IncludeUtils %]

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>[% title %]</title>
    [% PROCESS stylesheet %]
    [% PROCESS javascript %]
  </head>
  <body class="container">
    [% PROCESS menu %]
    [% PROCESS $layout %]
    [% PROCESS footer %]
  </body>
</html>
